// Для импорта в диспетчер подключений: @import './src/blocks/page-footer/page-footer.less';
@import '../../sass/variables'; // только для удобства обращения к переменным

.page-footer {
  &__container {
    @include container();
  }
  &__wrapper {
    @include row();
    padding-top: 80px;
    padding-bottom: 75px;
  }
  &__left {
    @include col(xl, 3);
    @media (min-width: $screen-xl) {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }
  &__right {
    @include col(xl, 7);
    @include col-offset(xl,1);
  }
  &__social {
    width: 64px;
    height: 64px;
    background-color: $gray-lighter;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__social i {
    font-size: $line-height;
    color: #ffffff;
  }
  &__social:hover{
    background-color: #d6494d;
  }
  &__social:active  {
    background-color: #b63538;
  }
  &__title {
    margin-top: 0;
  }
  &__desc{
    margin: 0;
  }
}