// Для импорта в диспетчер подключений: @import './src/blocks/page-footer/page-footer.less';
@import '../../sass/variables'; // только для удобства обращения к переменным

.page-footer {
  overflow: hidden;
  &__container {
    @include container();
    max-width:1200px;
  }
  &__wrapper {
    @include row();
    padding-top: $line-height*2;
    padding-bottom: $line-height*2;
    @media (min-width: $screen-xl) {
      padding-top: 8rem;
      padding-bottom: 7.5rem;
    }
  }
  &__left {
    @include col(xs, 11);
    @include col(md, 4,11);
    @include col(xl, 3,11);
    @media (min-width: $screen-xs) {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    @media (max-width: 767px) {
      order:2;
    }
  }
  &__right {
    @include col(xs, 11);
    @include col(md, 6,11);
    @include col(xl, 7,11);
    @include col(xxl, 6,11);
    @include col-offset(xl,1);
    @include col-offset(xxl,2);
    @media (max-width: 767px) {
      text-align: center;
      margin-bottom: $line-height;
    }
  }
  &__social {
    width: 64px;
    height: 64px;
    background-color: $gray-light;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__social i {
    font-size: $line-height;
    color: #ffffff;
  }
  &__social:hover{
    background-color: #d6494d;
  }
  &__social:active  {
    background-color: #b63538;
  }
  &__title {
    margin-top: 0;
  }
  &__desc{
    margin: 0;
  }
}