.about {
  &__container {
    @include container();
    max-width:1200px;
  }
  &__wrapper {
    @include row();
    @media (max-width: 767px) {
      text-align: center;
    }
  }
  &__wrapper--one {
    padding-top: 6rem;
    @media (max-width: 767px) {
      padding-top: $line-height*2;
    }
  }
  &__wrapper--two {
    padding-bottom: 7.5rem;
    border-bottom: 2px solid $gray-lighter;
    @media (max-width: 767px) {
      padding-bottom: $line-height*2;
    }
  }
  &__left {
    @include col(xs, 11);
    @include col(md, 6.5, 11);
    @include col(xl, 7, 11);
  }
  &__right {
    @include col(xs, 11);
    @include col(md, 4.5, 11);
    @include col(xl, 3, 11);
    @include col-offset(xl, 1);
    @media (max-width: 767px) {
      padding-top: $line-height*2;
    }
  }
  &__right--xs {
    @media (max-width: 767px) {
      display: none;
    }
  }
  &__title {
    margin-top: 0;
    margin-bottom: 3rem;
  }
  &__desc {
    margin-bottom: 5rem;
  }
  &__title-list {
    display: block;
    margin-bottom: 3.5rem;
    text-transform: uppercase;
  }
  &__list {
    margin: 0;
    list-style: none;
    @media (max-width: 767px) {
      text-align: left;
    }
  }
  &__list-item:not(:last-child) {
    margin-bottom: 3rem;
  }
  &__list-item {
    position: relative;
  }
  &__list-item:before {
    position: absolute;
    content: '';
    display: block;
    border-top: 1px solid $color-red;
    width: 20px;
    left: -30px;
    top: 8px;
  }
  &__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    text-align: center;

  }
  &__since-wrapper {
    text-align: center;

  }
  &__since {
    display: inline-block;
    position: relative;
    z-index: 2;
    background-color: #ffffff;
    text-transform: uppercase;
    padding: 0 1.5rem;
  }
  &__since-wrapper:after {
    display: block;
    position: relative;
    content: '';
    z-index: 1;
    border-bottom: 2px solid $gray-lighter;
    bottom: 12px;
  }
}