@import "../../sass/mixins/mixins";

.btn {
  @include btn();
  @include btn-color(#ffffff, $color-red, transparent);
  //@include btn-size();

  &--main {
    @include btn-color(#fff, $color-main, $color-main);
  }

  &--danger {
    @include btn-color(#fff, $color-danger, $color-danger);
  }

  &--success {
    @include btn-color(#fff, $color-success, $color-success);
  }

  &--lg {
    @include btn-size(lg);
  }

  &--sm {
    @include btn-size(sm);
  }
  &--slider{
    padding-right: 7.1rem;
    padding-left: 7.1rem;
  }
  &--web-cite{
    padding: .9rem 4rem;
  }
  &--app{
    background-color: #00ca74;
    padding: .9rem 4rem;
  }
  &--presentation{
    background-color: #efc84a;
    padding: .9rem 4rem;
  }
  &--map{
    padding-left: 55px;
    padding-right: 55px;
  }
  &:hover{
    background-color: #d6494d;
  }
  &:active,
  &:focus{
    background-color: #b63538;
  }
  &--app:hover{
    background-color: #01a25e;
  }
  &--app:active,
  &--app:focus {
    background-color: #009053;
  }
  &--presentation:hover{
    background-color: #d6ae2c;
  }
  &--presentation:active,
  &--presentation:focus {
    background-color: #c09b24;
  }
  &--block {
    width: 100%;
    text-align: center;
    justify-content: center;

    & + & {
      margin-top: ($line-height / 2);
    }
  }
}