@import "../../sass/mixins/mixins";

.btn {
  @include btn();
  @include btn-color(#ffffff, $color-red, transparent);
  //@include btn-size();

  &--main {
    @include btn-color(#fff, $color-main, $color-main);
  }

  &--danger {
    @include btn-color(#fff, $color-danger, $color-danger);
  }

  &--success {
    @include btn-color(#fff, $color-success, $color-success);
  }

  &--lg {
    @include btn-size(lg);
  }

  &--sm {
    @include btn-size(sm);
  }
  &--slider{
    padding-right: 71px;
    padding-left: 71px;
  }
  &--slider:hover{
    background-color: #d6494d;
  }
  &--slider:active{
    background-color: #b63538;
  }
  &--block {
    width: 100%;
    text-align: center;
    justify-content: center;

    & + & {
      margin-top: ($line-height / 2);
    }
  }
}