.map {
  height: 415px;
  background-color: #ffffff;
  background-image: url("/img/map.jpg");
  @media(min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url("/img/map@2x.jpg");
  }
  &__container {
    @include container();
  }
  &__wrapper {
    @include row();
  }
  &__contacts {
    @include col(xl, 3, 11, 40px);
    margin-top: 90px;
    background-color: #ffffff;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}