.map {
  min-height: 415px;
  background-color: #ffffff;
  background-image: url("/img/map.jpg");
  position: relative;
  @media(min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url("/img/map@2x.jpg");
  }
  &__contacts {
    width: 24.5rem;
    top: 90px;
    left: 16.5%;
    background-color: #ffffff;
    padding: 30px 2rem;
    position: absolute;
    z-index: 2;
  }
}