@font-face {
    font-weight: normal;
    font-style: normal;

    font-family: "symbols-nerds";
    src: url("/fonts/symbols-nerds.woff") format("woff"),
    url("/fonts/symbols-nerds.woff2") format("woff2");
}

@font-face {
    font-weight: normal;
    font-style: normal;

    font-family: "Roboto Medium";
    src: url("/fonts/robotomedium.woff") format("woff"),
    url("/fonts/robotomedium.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
    display: inline-block;
    width: 1em;
    margin-right: 0.2em;
    margin-left: 0.2em;
    color: #a6a6a6;
    font-weight: normal;
    line-height: 1em;
    font-family: "symbols-nerds";
    text-align: center;
    text-transform: none;
    text-decoration: inherit;
    font-style: normal;
    font-variant: normal;

    speak: none;
}

.icon-basket::before {
    content: "\62";
}

/* "b" */
.icon-facebook::before {
    content: "\66";
    color: #ffffff;
}

/* "f" */
.icon-twitter::before {
    content: "\74";
}

/* "t" */
.icon-vk::before {
    content: "\76";
    color: #ffffff;
}

/* "v" */
.icon-up-dir::before {
    content: "\25b2";
    color: #b1b1b1;
}
.icon-up-dir {
    font-size: 2.3rem;
    line-height: 1;

}
/* "▲" */
.icon-down-dir::before {
    content: "\25bc";
    color: #b1b1b1;
}
.icon-down-dir{
    font-size: 2.3rem;
    line-height: 1;
}

/* "▼" */
.icon-circle::before {
    content: "\25cb";
    font-size: 28px;
    line-height: 22px;
}
/* "○" */
.icon-circle-dot::before {
    content: "\25cf";
    font-size: 28px;
    line-height: 22px;
}

/* "●" */
.icon-check-off::before {
    content: "\2610";
    font-size: 28px;
    line-height: 22px;
}

/* "☐" */
.icon-check-on::before {
    content: "\2611";
    font-size: 28px;
    line-height: 22px;
}

/* "☑" */
.icon-instagramm::before {
    content: "📷";
    color: #ffffff;
}
.icon-check-on,
.icon-circle-dot {
    position: absolute;
    left: 0;
    display: none;
}
.icon-check-off,
.icon-circle {
    position: absolute;
    left: 0;
}
.icon-check-off{
    left: -2px;
}
/* "\1f4f7" */

/* Peppermint required styles + default appearance styles */

.peppermint.peppermint-active {
    position: relative;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
}

.peppermint.peppermint-active .peppermint-slides {
    position: relative;
    overflow: hidden; /* clearfix */
    -ms-touch-action: pan-y;
    touch-action: pan-y;
}

.peppermint.peppermint-active .peppermint-slides > * {
    float: left;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
}

.peppermint.peppermint-active .peppermint-slides a:active,
.peppermint.peppermint-active .peppermint-slides a:active img {
    outline: none;
}

.peppermint.peppermint-active,
.peppermint.peppermint-active .peppermint-dots,
.peppermint.peppermint-active .peppermint-slides,
.peppermint.peppermint-active .peppermint-slides > * {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.peppermint.peppermint-mouse .peppermint-slides {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: move;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
}

.peppermint.peppermint-mouse.peppermint-drag .peppermint-slides * {
    cursor: move;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
}

/* default appearance styles */
.peppermint {
    text-align: center;
}

/*.peppermint figure {
    margin: 0 0 1.5em 0;
}

.peppermint figure img {
    vertical-align: top;
    max-width: 100%;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.peppermint figure figcaption {
    font-style: italic;
    color: #787575;
    font-size: 0.8em;
    margin-top: 0.5em;
}*/

.peppermint.peppermint-active {
    /*margin-bottom: 1.5em;*/
}

.peppermint-slides {
    /*padding-top: 0.5em;*/
    /*padding-bottom: 0.5em;*/
}

/* dots */
ul.peppermint-dots {
    padding: 0 0 26px;
    margin: 0 0 0 -16px;
    text-align: center;
    list-style-type: none;
}

.peppermint.peppermint-active ul.peppermint-dots {
    /*margin: 0 0 0.6em 0;*/
}

.peppermint.peppermint-active .peppermint-slides + ul.peppermint-dots {
    /*margin: 0.6em 0 0 0;*/
}

ul.peppermint-dots > li {
    display: inline-block;
    position: relative;
    margin: 0 4px;
    width: 10px;
    height: 10px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    background-color: #ffffff;
    border-radius: 50%;
}

ul.peppermint-dots > li.peppermint-mouse-clicked,
ul.peppermint-dots > li:active {
    outline: 0;
}

ul.peppermint-dots > li > span {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #ffffff;
}

ul.peppermint-dots > li.peppermint-active-dot > span {
    /*margin: -6px 0 0 -6px;*/
    /*width: 6px;*/
    /*height: 6px;*/
    /*border: 1px solid #9b9890;*/
    background: #c1c1c1;
}
