.developers {
  &__container{
    @include container();
  }
  &__wrapper {
    @include row();
    border-bottom: 2px solid $gray-lighter;
    padding-top: 45px;
    padding-bottom: 45px;
    align-items: center;
  }
  &__item{
    @include col(xl,3);
  }
  &__item:not(:first-child) {
    @include  col-offset(xl,1);
  }
}